<strong>Olá, {{ name }} </strong>
<p>Seu pedido de auxílio Nº {{ orderNumber }} foi respondido:</p>
<p>
  <strong>Pergunta: </strong> {{ question }} <br />
  <strong>Data: </strong> {{ answer_at }}
  <p> {{ answer }}</p>
  <small>
    Até a proxima!
  </small>
</p>
